.containerNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.image {
  width: 150px;
  height: 150px;
}

.containerNotFound h1 {
  color: #6d396b;
  font-family: 'Roboto';
  font-size: 48px;
}
